<div class="shop-view">
  <input [(ngModel)]="newItem" />
  <button (click)="addNewItemToList()">Add item</button>

  <div>
    <button (click)="setView(true)">Show as List</button>
    <button (click)="setView(false)">Show as Grid</button>
  </div>

  <div class="list-view" *ngIf="isListView">
    <app-shop-list [listSource]="itemList" (removeItem)="removeItemFromList($event)"></app-shop-list>
  </div>
  <div class="grid-view" *ngIf="!isListView">
    <app-shop-grid [gridSource]="itemList" (removeItem)="removeItemFromList($event)"></app-shop-grid>
  </div>

</div>